#container{
    height: 646px;
    width: 646px;
    border: Pink solid 40px;
    border-radius: 10px;
}
#box{
    border: white solid 2px;
}

main{
    display: flex;
    align-items: center;
    gap: 15px;
}
button{
    width: 100px;
    height: 50px;
}
h1{
    display: flex;
    justify-content: center;
    font-family: cursive;
    font-size: 4em;
}